html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100%;
}

#logo, #form {
    display: flex;
    flex-direction: column;
}

#logo {
    width: 40%;
}

#form {
    width: 60%;
}

#logo div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

#logo div:first-child + div {
    margin-top: auto;
    display: flex;
    justify-content: center;
}

input {

}

button {

}

#data-fields {
    display: grid;
    grid-template-columns: 2;
    grid-auto-rows: minmax(50px,auto);
}

#field-header {
    grid-column: 1/3;
}

