/*css reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*import*/
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono:wght@500&family=Raleway:wght@500&family=Rubik:wght@500&display=swap');

/*variables*/

:root {
    --main-color: #e68cc3;
    --secondary-color: #d6d6d6;
    --main-background-color: #19112a;
    --secondary-background-color: #311045;
    --main-font: 'Raleway', Helvetica, 'sans-serif';
    --secondary-font: 'Rubik','Helvetica', 'sans-serif';
}

/*styles*/

html {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

body {
    display: flex;
    flex-direction: row;
    width: 100vw;
    min-height: 100vh;
}

#logo, #form {
    display: flex;
    flex-direction: column;
}

#logo {
    width: 40vw;
    background-image: url(./images/background.jpg);
    background-size: cover;
}

form {
    width: 60vw;
    display: flex;
}

#logo>div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    background-color: rgba(0,0,0,0.5);
    padding: 2  0px 0;
}

#logo>div:first-child img {
    height: 15vh;
    width: auto;
}

#logo>div:first-child + div {
    margin-top: auto;
    display: flex;
    justify-content: center;
    padding: 2vh;
}

input {
    width: 20vw;
    max-height: 3vh;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 0 2px var(--secondary-background-color);
    transition: 200ms box-shadow ease-in-out;
    
}

input:focus {
    box-shadow: 0 0 0 3px var(--secondary-color);
}

.error {
    box-shadow: 0 0 0 2px rgb(255, 63, 63);
    outline: none;
}

.error:focus {
    box-shadow: 0 0 0 4px rgb(255, 63, 63);
}

button {
    padding: 1.2vw 3vw;
    background-color: var(--main-background-color);
    border-radius: 1vh;
    border-style: outset;
    text-decoration: none;
    color: var(--main-color);
    border-color: var(--main-color);
    font-family: var(--main-font);
    font-weight: 900;
    font-size: 1.2vw;
    transition-property: background-color, color;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

button:hover {
    background-color: var(--main-color);
    color: var(--main-background-color);
}

#form>div:first-child {
    padding-top: 10vh;
    flex: 0 1 auto;
    padding: 6vh;
}

#form>div:first-child+div{
    flex: 0 1 auto;
    padding: 6vh;
}

#form>div:last-child {
    flex: 1 1 auto;
    padding: 4vh 6vh 6vh;
}

#form>div:nth-child(odd){
    background-color: var(--main-background-color);
}

#form>div:nth-child(even){
    background-color: var(--secondary-background-color);
}

#form>div>div {
    display: flex;
    flex-direction: column;
}

#data-fields {
    display: grid;
    grid-template-columns: 2;
    grid-auto-rows: minmax(auto);
}

#field-header {
    grid-column: 1/3;
}

/*font*/

h1 {
    font-family: 'Syne Mono', Helvetica, monospace;
    color: var(--secondary-color);
    font-size: 8vh;
    font-weight: 900;
}

#logo>div:first-child + div p, #logo div:first-child + div a{
    color: var(--secondary-color);
    font-size: 1.8vh;
    font-family: Arial, Helvetica, sans-serif;
}

#form>div:first-child p{
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 2.5vh;
    color: var(--secondary-color);
}

h2 {
    color: var(--secondary-color);
    font-size: 20px;
    font-family: var(--secondary-font);
    font-weight: 700;
}

label {
    padding: 2.5vh 0 0.5vh 0;
    font-size: 1.4vh;
    color: var(--secondary-color);
    font-family: var(--main-font);
    font-weight: 200;
}

#form>div:last-child p, #form div:last-child a{
    padding: 3vh 0;
    font-family: var(--main-font);
    font-size: 2.1vh;
    color: var(--secondary-color);
}

#form>div:last-child p{
    color: var(--secondary-color);
    font-weight: 500;
}

#form>div:last-child a{
    color: var(--main-color);
    text-decoration-line: none;
    transition: color ease-in-out 200ms;
    font-weight: 700;
}

#form>div:last-child a:hover{
    color: var(--secondary-color);
}